/* ===== Imports ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* ===== Styles ===== */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    text-decoration: none;
}

html {
    min-height: 100%;
    transition: var(--transition);
}

:root {
    /* ===== Accent color ===== */
    --accent-color: #695cfe;
    --color-danger: #ff7782;

    /* ===== Light mode ===== */
    --color-background: #f6f6f9;
	--color-white: #fff;
	--color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
	--color-dark-variant: #677483;
	--box-shadow: 0 2rem 3rem var(--color-light);
    --color-modal: #ddd;

    

    /*  Transitions  */
    --transition: all 300ms ease;
	--transition-02: all 200ms ease-in-out;
	--transition-03: all 300ms ease-in-out;
	--transition-04: all 400ms ease-in-out;
	--transition-05: all 500ms ease-in-out;

    /* Box Shadow */
    --box-shadow: 0 2rem 3rem var(--color-light);

    /* Paddings */
	--card-padding: 1.8rem;
	--padding-1: 1.2rem;

    /* Border Radii */
	--card-border-radius: 2rem;
	--border-radius-1: 0.4rem;
	--border-radius-2: 0.8rem;
	--border-radius-3: 1.2rem;


}

.dark-mode {
	--color-background: #181a1e;
	--color-white: #202528;
	--color-dark: #edeffd;
	--color-dark-variant: #a3bdcc;
	--color-light: rgba(0, 0, 0, 0.4);
	--box-shadow: 0 2rem 3rem var(--color-light);
}

body {
    min-height: 100vh;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: space-between;
    font-size: 14px;
}


/* Header */
header {
    height: 15vh;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    color: var(--color-dark);
}

.typewriter-container {
    display: inline-block;
}

.typewriter-text {
    font-size: 4.5rem;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2.5s steps(18),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from {width: 0}
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-dark)
}

.title {
    transition: var(--transition-02);
    cursor: default;
}

.title:hover {
    transform: scale(1.1);
}

.accent {
    color: var(--accent-color);
}

.info span {
    color: var(--color-dark-variant);
}

.info span:hover {
    cursor: pointer;
}

main {
    height: 75vh;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 3vh
    /* background-color: blue; */
}

button, input[type="submit"] {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

footer {
    /* background-color: yellow; */
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits {
    font-weight: 400;
    transition: var(--transition-02);
}

.credits:hover {
    transform: scale(1.05);
}

.btn-theme-toggle {
	background-color: var(--color-light);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.6rem;
	width: 4.2rem;
	cursor: pointer;
	border-radius: var(--border-radius-1);
}

.btn-theme-toggle span {
	font-size: 1.2rem;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-theme-toggle span.active {
	background-color: var(--accent-color);
	color: var(--color-white);
	border-radius: var(--border-radius-1);
}

.modal-container {
    position: fixed;
    /* background-color: var(--color-modal); */
    background-color: var(--accent-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: var(--transition-02);
    height: 50vh;
    width: 50vw;
    border-radius: var(--border-radius-3);
    z-index: 10;
    box-shadow: var(--box-shadow);
}

.modal-container.active {
    transform: translate(-50%, -50%) scale(1);
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    color: var(--color-dark);
}

.modal-container ol {
    margin-top: 1rem;
    width: 80%;
    color: var(--color-white);
    font-size: 15px;
}

#close-modal:hover {
    cursor: pointer;
}

.select-menu {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#tickers-dropdown {
    padding: 1rem 1.5rem;
    background-color: #695cfe;
    border: 1px solid black;
    cursor: pointer;
    transition: var(--transition);

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#tickers-dropdown:focus,
#tickers-dropdown:hover {
    outline: none;
    box-shadow: var(--box-shadow);
}

form {
    /* background-color: blue; */
    width: 9rem;
    height: 3.36rem;
}

